@import "@fontsource/great-vibes/index.css";
@import "@fontsource/great-vibes/400.css";
@import "@fontsource/playfair-display/400-italic.css";

.font-cursive {
	font-family: "Playfair Display", sans-serif !important;
}

.font-sans-serif {
	font-family: "Playfair Display", sans-serif !important;
}
