.footer-area {
	padding: 20px;
	background-color: #6f8256;
	color: white;
}

.copyright-area {
	margin-top: 20px;
	text-align: center;
	color: white;
}

.footer-brand-name {
	font-family: "Playfair Display", sans-serif !important;
	font-size: 30px !important;
}
